# Dependencies
node_modules/
.pnpm-store/

# Build
build/
dist/
.svelte-kit/
.next/
out/

# Testing
coverage/
*.coverage
.nyc_output/
junit.xml
.pytest_cache/
htmlcov/

# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
*.egg
.mypy_cache/
.ruff_cache/
venv/
.venv/

# Local env files
.env
.env.local
.env.*.local
.secrets

# OS files
.DS_Store
Thumbs.db

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Misc
*.log
*.tmp
*.temp
.cache/
*.tsbuildinfo
*.tgz
